*.lock
Keukenhof/.vs/*
Keukenhof/Keukenhof/bin/*
Keukenhof/Keukenhof/obj/*
Keukenhof/.vs/Keukenhof/v15/Server/sqlite3/storage.ide-shm
Keukenhof/Keukenhof/obj/Debug/Keukenhof.csproj.CoreCompileInputs.cache
