
@{
    ViewBag.Title = "Index";
}

<div class="autoJumboTron" id="autojumbo">
    <div class="autoJumboTron-bottom">
        <h1>Bloemen festival</h1>
    </div>
</div> <br />
<ul class="breadcrumb">
    <li><a href="#"><i class="fas fa-home" id="home-icon"></i></a></li>
    <li><a href="#">Evenementen</a></li>
    <li>Bloemen festival</li>
</ul>

