
@{
    ViewBag.Title = "Index";
}

<div class="autoJumboTron" id="autojumbo">
    <div class="autoJumboTron-bottom">
        <h1>Bloemen festival</h1>
    </div>
</div> <br />

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fas fa-home" id="home-icon"></i></a></li>
        <li><a href="#">Evenementen</a></li>
        <li>Bloemen festival</li>
    </ul>

    <div class="show ml-5 align-middle">
        <h6><span class="badge badge-secondary">Show</span> 21 Maa - 10 mei 2020</h6> </br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Turpis sagittis purus bibendum eget pulvinar ipsum. Sit eget imperdiet lorem congue risus ut egestas viverra urna.
           Platea turpis semper porta convallis velit et magna nisl. In nunc purus turpis donec faucibus enim tristique odio.</p> <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, habitant at sit erat nulla sed pulvinar morbi morbi. Pellentesque et diam ut non vitae.
           Pretium nunc natoque tortor, egestas suscipit nunc, quis. Nisl sit odio nullam id praesent. Feugiat ultrices egestas fringilla facilisi tellus neque risus aliquet.
           Tellus in non blandit at bibendum et. Facilisis auctor platea sit nascetur senectus sed cras tortor. Habitasse sagittis tellus dolor vitae. Laoreet morbi nulla quis molestie ac. </p> <br />
    </div>

    <div id="demo" class="carousel slide ml-5" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item-active">
                <img src="/Images/Slider.png" alt="Event" />
            </div>
            <div class="carousel-item">
                <img src="/Images/AutoJumboTron.png" alt="Auto"/>
            </div>
            <div class="carousel-item">
                <img src="Images/JumboTron.png" alt="Plaatje"/>
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

