@{
    ViewBag.Title = "Keukenhof";
}

<script>
    $(document).ready(function () {
        $("#Arrow1").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A1").removeClass("fa fa-angle-down");
                $("#A1").addClass("fa fa-angle-up");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A1").removeClass("fa fa-angle-up");
                $("#A1").addClass("fa fa-angle-down");
            }
        });
        $("#Arrow2").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A2").removeClass("fa fa-angle-down");
                $("#A2").addClass("fa fa-angle-up");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A2").removeClass("fa fa-angle-up");
                $("#A2").addClass("fa fa-angle-down");
            }
        });
        $("#Arrow3").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A3").removeClass("fa fa-angle-down");
                $("#A3").addClass("fa fa-angle-up");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A3").removeClass("fa fa-angle-up");
                $("#A3").addClass("fa fa-angle-down");
            }
        });
        $("#Arrow4").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A4").removeClass("fa fa-angle-down");
                $("#A4").addClass("fa fa-angle-up");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A4").removeClass("fa fa-angle-up");
                $("#A4").addClass("fa fa-angle-down");
            }
        });
    })
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="homejumbo">
            <div class="jumbotron-bottom">
                <h1><b>Het mooiste lentepark ter wereld</b></h1>
                <div class="row">
                    <div class="col-md-3 clickcard">
                        <a asp-area="" asp-controller="HetPark" asp-action="Index" class="text-dark text-decoration-none"></a>
                        <a href="#" class="text-decoration-none">
                            <div class="row">
                                <br />
                                <div class="col-md-12">
                                    <h5><b>Open 21 Maart - 10 Mei</b></h5>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <h6>Ontdek het park<i class="fas fa-arrow-right text-success" style="padding-left: 20px;"></i></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 clickcard">
                        <a href="#" class="text-decoration-none">
                            <div class="row">
                                <br />
                                <div class="col-md-12">
                                    <h5><b>Kom vandaag nog langs</b></h5>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <h6>Bekijk park<i class="fas fa-arrow-right text-success" style="padding-left: 20px;"></i></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 clickcard rounded-right">
                        <a href="#" class="text-decoration-none">
                            <div class="row">
                                <br />
                                <div class="col-md-12">
                                    <h5><b>Wat is Keukenhof</b></h5>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <h6>Bekijk video<i class="fas fa-arrow-right text-success" style="padding-left: 20px;"></i></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" id="wheretosearch">
        <div class="col-md-12">
            <h3>Waar bent u naar op zoek?</h3>
        </div>
        <div class="col-md-3">
            <div class="cardnopadding">
                <img src="/Images/Bereikbaarheid.png" class="card-img-top" alt="Openbaar vervoer">
                <a class="text-decoration-none" href="#">
                    <div class="card-body" id="cards">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="card-title">Bereikbaarheid</h5>
                            </div>
                            <div class="col-md-2 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardnopadding">
                <img src="/Images/Evenementen.png" class="card-img-top" alt="Combotickets">
                <a class="text-decoration-none" href="#">
                    <div class="card-body" id="cards">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="card-title">Evenementen</h5>
                            </div>
                            <div class="col-md-2 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardnopadding">
                <img src="/Images/Faciliteiten.png" class="card-img-top" alt="Eigen vervoer">
                <a class="text-decoration-none" href="#">
                    <div class="card-body" id="cards">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="card-title">Faciliteiten</h5>
                            </div>
                            <div class="col-md-2 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cardnopadding">
                <img src="/Images/Bloemenshows.png" class="card-img-top" alt="Groepen">
                <a class="text-decoration-none" href="#">
                    <div class="card-body" id="cards">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="card-title">Bloemenshows</h5>
                            </div>
                            <div class="col-md-2 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" style="background-color: #E1EBE9">
        <div class="col-md-12">
            <h2>Praktische informatie</h2>
            <div>
                <p class="float-left">Download de kaart of krijg er een bij de informatiebalie</p>
                <a href="#" class="justify-content-end float-right text-dark font-weight-bold text-decoration-none">Meer praktische informatie<i class="fa fa-arrow-right ml-1 text-warning"></i> </a></br>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-wrapper">
                <img class="img-responsive" src="/Images/PLATTEGROND Keukenhof 2019.png">
                <div class="img-overlay">
                    <button class="btn btn-md btn-success" id="btntop"><i class="fa fa-download" aria-hidden="true"></i> Download de kaart</button>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div id="accordion">
                <div class="card">
                    <div id="headingOne">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="Arrow1">
                                Openingstijden <i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A1"></i>
                            </div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Kijk naar mij ik ben een lange tekst om deze accordion die geen muziek kan afspelen te testen.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingTwo">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="Arrow2">
                                Toegankelijkheid<i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A2"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Kijk naar mij ik ben een lange tekst om deze accordion die geen muziek kan afspelen te testen.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="Arrow3">
                                Parkeren en openbaar vervoer<i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A3"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Kijk naar mij ik ben een lange tekst om deze accordion die geen muziek kan afspelen te testen.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="Arrow4">
                                Groepen<i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A4"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Het vliegtuig Harry Hatseflats vertrekt over 10 minuten uw piloot Harry zal u pinda's en chips aanbieden als versnapering tijdens de vlugt, wij gaan zo een salto doen om te testen of dit kan en of dit leuk is, bedankt voor uw begrip.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bg1 py-4" id="featured">
    <h1>Nieuws</h1>
        <a href="#" class="justify-content-end float-right text-dark font-weight-bold text-decoration-none">Bekijk alle<i class="fa fa-arrow-right ml-1 text-warning"></i> </a></br>
    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="cardnopadding">
                <img src="~/Images/ev1.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <h5 class="card-title">Special title treatment</h5>
                    <a href="#" class="btn btn-outline-warning">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cardnopadding">
                <img src="~/Images/ev2.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <h5 class="card-title">Special title treatment</h5>
                    <a href="#" class="btn btn-outline-warning">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cardnopadding">
                <img src="~/Images/ev3.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <h5 class="card-title">Special title treatment</h5>
                    <a href="#" class="btn btn-outline-warning">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cardnopadding">
                <img src="~/Images/ev4.png" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <h5 class="card-title">Special title treatment</h5>
                    <a href="#" class="btn btn-outline-warning">Lees meer</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bg2 py-4">
    <div class="cardnopadding">
        <img class="card-img-top" src="~/Images/Praktisch6.png" alt="Card image cap">
        <a class="text-decoration-none" href="#">
            <div class="card-body" id="cards">
                <div class="row">
                    <div class="col-md-11">
                        <h5 class="card-title">Groepen</h5>
                    </div>
                    <div class="col-md-1 text-lg-right">
                        <i class="fas fa-arrow-right text-success"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="container bg1 py-4" id="featured">
    <h1>Instagram #Visitkeukenhof</h1>
    <a href="#" class="justify-content-end float-right text-dark font-weight-bold text-decoration-none"><i class="fab fa-instagram ml-1" style="color:#EA6025; font-size:20px"></i> Volg ons </a></br>
    <div class="row mt-3">
        <div class="col-sm-3">
            <img src="~/Images/Instagram1.png" class="instafeed">
            <div class="expand-position-for-picture">
                <span class="fab fa-instagram ml-1" style="font-size: 45px"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Instagram2.png" class="instafeed">
            <div class="expand-position-for-picture">
                <span class="fab fa-instagram ml-1" style="font-size: 45px"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Instagram3.png" class="instafeed">
            <div class="expand-position-for-picture">
                <span class="fab fa-instagram ml-1" style="font-size: 45px"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Instagram4.png" class="instafeed">
            <div class="expand-position-for-picture">
                <span class="fab fa-instagram ml-1" style="font-size: 45px"></span>
            </div>
        </div>
    </div>
</div>