body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg1 {
    background-color: #FBDFD3;
}

.bg2{
    background-color: #E1EBE9;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ParkJumbo {
    background-image:url('/Images/ParkJumbo.png');
}

#featured {

}

/* Footer css*/
.footer{
    width: 1152px;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}

.footer-header {
    width: 247px;
    height: 28px;
    left: 315px;
    top: 32px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #36454E;
    border-radius: 4px;
}

.footer-content {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

/* Dit is de plaatje op een positie*/
#footer_1_4{
    position: relative;
}

/* Dit zijn de social media icons*/
.footer-icons{
    position: absolute;
    bottom: 50px;
}

.circle-icon{
    background: green;
    padding: 10px;
    border-radius: 100%;
}

.fa-instagram{
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

/*Dit is de quick links sectie van de footer*/
.footer-ql {
    border-bottom: 1px solid #CEDBD8;
    padding-top: 15px;
}

.footer-ql a {
    color: black;
}

.footer-hl {
    padding-top: 0px;
}

.footer-hl a {
    color: black;
}

