@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/source-sans-pro.woff2') format('woff2');
}

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.jumbotron {
    position: relative;
    background-size: cover;
    width: 1152px;
    height: 628px;
    left: 0px;
    top: 0px;
}

.jumbotron h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
    color: white;
 }

.jumbotron-bottom {
    position: absolute;
    bottom: 50px;
    width: 90%;
}

.actions{
    display: inline;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#homejumbo {
    background-image: url('/Images/Homejumbo.png');
}