
@{
    ViewBag.Title = "Contact";
}

<script>
    //Script voor het veranderen van de pijl in de accordion (zie accessibility)
    $(document).ready(function () {
        $(".selecting").click(function (e) {
            e.preventDefault();
            $(".selecting").parent().removeClass("active");
            $(this).parent().addClass("active");
        });

        $("#Arrow1").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A1").removeClass("fa fa-angle-down");
                $("#A1").addClass("fa fa-angle-up");
                $("#A2").removeClass("fa fa-angle-up");
                $("#A2").addClass("fa fa-angle-down");
                $("#A3").removeClass("fa fa-angle-up");
                $("#A3").addClass("fa fa-angle-down");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A1").removeClass("fa fa-angle-up");
                $("#A1").addClass("fa fa-angle-down");
            }
        });
        $("#Arrow2").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A2").removeClass("fa fa-angle-down");
                $("#A2").addClass("fa fa-angle-up");
                $("#A1").removeClass("fa fa-angle-up");
                $("#A1").addClass("fa fa-angle-down");
                $("#A3").removeClass("fa fa-angle-up");
                $("#A3").addClass("fa fa-angle-down");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A2").removeClass("fa fa-angle-up");
                $("#A2").addClass("fa fa-angle-down");
            }
        });
        $("#Arrow3").click(function (e) {
            e.preventDefault();
            if ($(this).attr('aria-expanded') == 'false') {
                $("#A3").removeClass("fa fa-angle-down");
                $("#A3").addClass("fa fa-angle-up");
                $("#A1").removeClass("fa fa-angle-up");
                $("#A1").addClass("fa fa-angle-down");
                $("#A2").removeClass("fa fa-angle-up");
                $("#A2").addClass("fa fa-angle-down");
            } else if ($(this).attr('aria-expanded') == 'true') {
                $("#A3").removeClass("fa fa-angle-up");
                $("#A3").addClass("fa fa-angle-down");
            }
        });
    });
</script>

<!-- Zorgt voor de Jumbotron en hoofdtekst van de pagina-->
<div class="contactjumbo" id="ContactJumbo">
</div>
<div class="container" id="ContactJumbo" style="padding:32px;">
    <h1>Contact</h1>
    <div class="row">
        <p class="col-sm-6 text-dark">In 2020 is de keukenhof open van 21 maart tot en met 10 mei tussen 9:00-17:00 uur.</p>
        <p class="col-sm-6 text-dark">Bezoekersadres: <br />Stationsweg 166A, 2161 AM Lisse</p>
    </div>
</div>

<!--Kaarten met verwijzingen naar andere pagina's-->
<div class="container bg1 py-4" id="ContactJumbo" style="background-color: #E1EBE9">
    <h3>Waarvoor zoekt u contact?</h3>
    <div class="row mt-12">
        <div class="col-sm-3">
            <div class="card" id="ContactJumboCard">
                <img src="~/Images/GroepenKlein.png" class="card-img-top" id="ContactJumboCardImage">

                <div class="card-body">
                    <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text text-decoration-none" id="ContactJumboCardText" style="padding: 16px;">Groepen <i class="fas fa-arrow-right text-success" style="position: absolute; right:19px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="ContactJumboCard">
                <img src="~/Images/Evenementen.png" class="card-img-top" id="ContactJumboCardImage">
                <div class="card-body">
                    <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text text-decoration-none" id="ContactJumboCardText" style="padding: 16px;">Pers<i class="fas fa-arrow-right text-success" style="position: absolute; right:19px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="ContactJumboCard">
                <img src="~/Images/GevondenItem.png" class="card-img-top" id="ContactJumboCardImage">
                <div class="card-body">
                    <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text text-decoration-none" id="ContactJumboCardText" style="padding: 16px;">Gevonden Items<i class="fas fa-arrow-right text-success" style="position: absolute; right:19px;"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="ContactJumboCard">
                <img src="~/Images/Leveranciers.png" class="card-img-top" id="ContactJumboCardImage">
                <div class="card-body">
                    <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text text-decoration-none" id="ContactJumboCardText" style="padding: 16px;" 1>Leveranciers<i class="fas fa-arrow-right text-success" style="position: absolute; right:19px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding" style="background-color: #FBDFD3">
        <div class="col-md-12" id="ContactJumbo" style="padding: 10px; padding-left:13px;">
            <h2>Praktische informatie</h2>
        </div>

        <!-- Image naast Accordion-->
        <div class="col-md-6">
            <img src="~/images/PraktischeInfo.png" class="card-img-top" id="ContactJumboPraktischImage" />
        </div>
        <!--De Accordion-->
        <div class="col-md-6">
            <div id="accordion">
                <div class="card" id="ContactCards" style="margin-top:0px;">
                    <div id="PraktischContactText">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="Arrow1">
                                Openingstijden <i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A1"></i>
                            </div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" id="ContactJumboPraktischText">
                            De Keukenhof is geopend van <b>21 maart - 10 mei 2020</b> van <b>9:00-17:00u</b>
                        </div>
                    </div>
                </div>
                <div class="card" id="ContactCards">
                    <div id="PraktischContactText">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="Arrow2">
                                Hoe kan ik contact opnemen met Keukenhof?<i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A2"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body" id="ContactJumboPraktischText">
                            Bel lekker, of kom even een bakkie doen bij ons!
                        </div>
                    </div>
                </div>
                <div class="card" id="ContactCards">
                    <div id="PraktischContactText">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="Arrow3">
                                Lorem Ipsum Dolar<i class="fa fa-angle-down float-lg-right" aria-hidden="true" id="A3"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body" id="ContactJumboPraktischText">
                            She try to pull a vert on my halfpipe tony thot, Money flourish in my bank account, but it dont stop.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
