
@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron" id="ContactJumbo">
</div>
<div class="container" id="head">
    <h1>Contact</h1>
    <div class="row">
        <p class="col-sm-6 text-dark">In 2020 is de keukenhof open van 21 maart tot en met 10 mei tussen 9:00-17:00 uur.</p>
        <p class="col-sm-6 text-dark">Bezoekersadres: <br />Stationsweg 166A, 2161 AM Lisse</p>
    </div>
    </div>
    <div class="container bg1 py-4" id="featured" style="background-color: #E1EBE9">
        <h1>Waarvoor zoekt u contact?</h1>
        <div class="row mt-12">
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/Groepen.png" class="card-img-top">
                    <div class="card-body">
                        <a asp-area="" asp-controller="Events" asp-action="Index" class="card-text">Groepen</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/Evenementen.png" class="card-img-top">
                    <div class="card-body">
                        <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text">Pers</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/GevondenItem.png" class="card-img-top">
                    <div class="card-body">
                        <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text">Gevonden Items</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="~/Images/Leveranciers.png" class="card-img-top">
                    <div class="card-body">
                        <a asp-area="" asp-controller="Info" asp-action="Index" class="card-text">Leveranciers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container" >
    <div class="row row-padding" style="background-color: #FBDFD3">
        <div class="col-md-12">
            <h2 style="font-size: 40px">Praktische informatie</h2>
        </div>

        <div class="col-md-6">
            <img src="~/images/PraktischeInfo.png" class="card-img-top" />
        </div>
        <div class="col-md-6" id="accordion">
            <div class="card">
              <div id="headingOne">
                <h5 class="mb-0">
                    <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="border-width:0px; background-color: #FFFFFF">
                        Openingstijden
                        <i class="fa fa-angle-down float-lg-right" aria-hidden="false">
                        </i>
                    </button>
                </h5>
            </div>
<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">De Keukenhof is geopend van <b>21 maart - 10 mei 2020</b> van <b>9:00-17:00u</b>
    <br />
    <br />
    Terwijl het park is gesloten, worden er verschillende <a asp-area="" asp-controller="Evenementen" asp-action="Index">evenementen</a> gehouden</div>
</div>
        </div>
            <div class="card">
                <div id="headingTwo">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="border-width:0px; background-color: #FFFFFF">
                            Hoe kan ik contact opnemen met Keukenhof?
                            <i class="fa fa-angle-down float-lg-right" aria-hidden="false">
                             </i>
                            </button>
</h5>

                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">U kunt de keukenhof mobiel bereiken via: <b>???-???????</b> 
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="headingThree">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="border-width:0px; background-color: #FFFFFF" >
                            Lorem ipsum dolar
                            <i class="fa fa-angle-down float-lg-right" aria-hidden="false">

                            </i>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body"> blablablablablablablablablablablabla
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
