@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/source-sans-pro.woff2') format('woff2');
}

a{
    color: black;
}

a:hover{
    color: white;
}

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg1 {
    background-color: #FBDFD3;
}

.bg2{
    background-color: #E1EBE9;
}

.clickcard {
    padding-top: 15px;
    background-color: white;
    padding-bottom: 15px;
}

.clickcard:hover {
    background-color: #EA6025;
}

.jumbotron {
    position: relative;
    background-size: cover;
    height: 628px;
    left: 0px;
    top: 0px;
}

.jumbotron h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
    color: white;
 }

.praticalinfo {
    background-color: white;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.jumbotron-bottom {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 100%;
}

.jumbotron-bottom h1 {
    color: white;
    right: 15px;
    position: relative;
}

.row-padding{
    padding-top: 15px;
    padding-bottom: 15px;
}

.actions {
    display: inline;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ParkJumbo {
    background-image:url('/Images/ParkJumbo.png');
}

#featured {
}
#homejumbo {
    position: relative;
    background-size: cover;
    height: 628px;
    left: 0px;
    top: 0px;
    background-image: url('/Images/Homejumbo.png');
}

#wheretosearch {
    background: #FBDFD3;
}

/* Footer css*/
.footer{
    width: 1152px;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}

.footer-header {
    width: 247px;
    height: 28px;
    left: 315px;
    top: 32px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #36454E;
    border-radius: 4px;
}

.footer-content {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

/* Dit is de plaatje op een positie*/
#footer_1_4{
    position: relative;
}

/* Dit zijn de social media icons*/
.footer-icons{
    position: absolute;
    bottom: 50px;
}

.circle-icon{
    background: green;
    padding: 10px;
    border-radius: 100%;
}

.fa-instagram{
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

/*Dit is de quick links sectie van de footer*/
.footer-ql {
    border-bottom: 1px solid #CEDBD8;
    padding-top: 15px;
}

.footer-ql a {
    color: black;
}

.footer-hl {
    padding-top: 0px;
}

.footer-hl a {
    color: black;
}

.pagination .page-item .page-link {
    outline: none;
    box-shadow: none;
    z-index: 1;
    color: #EA6025;
    background-color: #FFFFFF;
    border-color: #FBDFD3;
}

.pagination .page-item .page-link:hover {
    z-index: 1;
    color: #FFFFFF;
    background-color: #EA6025;
    border-color: #EA6025;
}

.pagination .page-item.disabled .page-link {
    z-index: 1;
    color: #FBDFD3;
    background-color: #FFFFFF;
    border-color: #FBDFD3;
}

#EventsJumbo {
    background-image: url(/Images/EventsJumbo.png)
}
.bg1 {
    background-color: #FBDFD3;
}

.bg2{
    background-color: #E1EBE9;
}

/* Footer css*/
.footer{
    width: 1152px;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}

.footer-header {
    width: 247px;
    height: 28px;
    left: 315px;
    top: 32px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #36454E;
    border-radius: 4px;
}

.footer-content {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

/* Dit is de plaatje op een positie*/
#footer_1_4{
    position: relative;
}

/* Dit zijn de social media icons*/
.footer-icons{
    position: absolute;
    bottom: 50px;
}

.circle-icon{
    background: green;
    padding: 10px;
    border-radius: 100%;
}

.fa-instagram{
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

/*Dit is de quick links sectie van de footer*/
.footer-ql {
    border-bottom: 1px solid #CEDBD8;
    padding-top: 15px;
}

.footer-ql a {
    color: black;
}

.footer-hl {
    padding-top: 0px;
}

.footer-hl a {
    color: black;
}

/* nav bar*/

.navbar{
    padding: 1rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

ul {
    list-style: none;
    width: 860px;
    margin: 0 auto;
}


ul li:hover:not(.active) {
    background: #D80B15;
}
.search-box {
    background: #E8E8E4;
    position: absolute;
    top: 54px;
    right: 28.7%;
    width: 350px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top: 4px solid #D80B15;
    display: none;
}

.search-box:before {
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #D80B15;
}

.search-box input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 1px solid #D80B15;
    outline: none;
}

.search-box input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: #D80B15;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #D80B15;
    outline: none;
    cursor: pointer;
}

.circle-icon{
    background: green;
    padding: 10px;
    border-radius: 100%;
}

.fa-instagram{
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

/*Dit is de quick links sectie van de footer*/
.footer-ql {
    border-bottom: 1px solid #CEDBD8;
    padding-top: 15px;
}

.footer-ql a {
    color: black;
}

.footer-hl {
    padding-top: 0px;
}

.footer-hl a {
    color: black;
}

/*Content Pagina*/

.autoJumboTron{
    position: relative;
    height: 329px;
    left: 0px;
    top: 0px;
}

.autoJumboTron h1{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: white;
}

.autoJumboTron-bottom{
    position: absolute;
    bottom: 25px;
    left: 32px;
    width: 90%;
}

#autojumbo{
    background-image: url('/Images/AutoJumboTron.png');
}

#home-icon {
    color: #00694C;
}

 /* Style the list */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #CEDBD8;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
} 

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.container show {
}

.show h6 {
    font-family: Avenir;
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.show p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.carousel-inner > .active {
    height: 600px;
}

.btn {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: green; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
    background-color: green;
    color: white;
}
