@{
    ViewBag.Title = "Practical";
}

<script>
    $(document).ready(function () {
        $(".selecting").click(function (e) {
            e.preventDefault();
            $(".selecting").parent().removeClass("active");
            $(this).parent().addClass("active");
        });
    });
</script>

<div class="jumbotron" id="ParkJumbo">
</div>
<div class="container" id="head">
    <h1>Praktische informatie</h1>
    <div class="row">
        <p class="col-sm-6 text-dark">In 2020 is Keukenhof open van 21 maart tot en met 10 mei tussen 9:00-17:00 uur.</p>
        <p class="col-sm-6 text-dark">In alle rust genieten van Keukenhof? Voor 10:30 uur en na 16:00 uur is het minder druk.</p>
    </div>
    <p><a href="https://asp.net" class="btn btn-outline-success">Bekijk Video</a></p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link selecting" href="#">Plattegrond</a>
            </li>
            <li class="nav-item">
                <a class="nav-link selecting" href="#">Bereikbaarheid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link selecting" href="#">Voorzieningen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link selecting" href="#">Groepen</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container">
    <div class="row row-padding" style="background-color: #E1EBE9">
        <div class="col-md-12">
            <h2>Praktische informatie</h2>
            <div>
                <p class="float-left">Download de kaart of krijg er een bij de informatiebalie</p>
                <a href="#" class="justify-content-end float-right text-dark font-weight-bold text-decoration-none">Veel gestelde vragen<i class="fa fa-arrow-right ml-1 text-warning"></i> </a></br>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-wrapper">
                <img class="img-responsive" src="/Images/PLATTEGROND Keukenhof 2019.png">
                <div class="img-overlay">
                    <button class="btn btn-md btn-success"><i class="fa fa-download" aria-hidden="true"></i> Download de kaart</button>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div id="accordion">
                <div class="card">
                    <div id="headingOne">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Ik heb online een Parkgids besteld, waar kan ik die ophalen? <i class="fa fa-angle-down float-lg-right" aria-hidden="true"></i>
                            </div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            De parkgids is een handig boekje met informatie over Keukenhof. Na het plaatsen van de bestelling, heb je een email ontvangen met het digitale ticket. Hier zit een voucher voor de Parkgids bij, die je kunt inleveren bij de informatiebalie. Je ontvangt dan je Parkgids.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingTwo">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Waar kan ik entree tickets kopen?<i class="fa fa-angle-down float-lg-right" aria-hidden="true"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Kijk naar mij ik ben een lange tekst om deze accordion die geen muziek kan afspelen te testen
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Hoe lang is mijn entreeticket geldig?<i class="fa fa-angle-down float-lg-right" aria-hidden="true"></i>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Het vliegtuig Harry Hatseflats vertrekt over 10 minuten uw piloot Harry zal u pinda's en chips aanbieden als versnapering tijdens de vlugt, wij gaan zo een salto doen om te testen of dit kan en of dit leuk is, bedankt voor uw begrip.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row row-padding" id="wheretosearch">
        <div class="col-md-12">
            <h3>Hoe bent u van plan naar Keukenhof te reizen?</h3>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Praktisch1.png" class="card-img-top" alt="Openbaar vervoer">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Openbaar vervoer</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Praktisch2.png" class="card-img-top" alt="Combotickets">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Combotickets</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Praktisch3.png" class="card-img-top" alt="Eigen vervoer">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Eigen vervoer</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Praktisch4.png" class="card-img-top" alt="Groepen">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Groepen</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" style="background-color: #E1EBE9">
        <div class="col-md-12">
            <h2>Voorzieningen</h2>
        </div>
        <div class="col-md-4">
            <div class="praticalinfo"><img src="/Images/Facilities icon 1.png" />Wi-Fi</div>
            <div class="praticalinfo"><img src="/Images/Facilities icon 2.png" />Lockers</div>
            <div class="praticalinfo"><img src="/Images/Facilities icon 3.png" />Honden in het park</div>
            <div class="praticalinfo"><img src="/Images/Facilities icon 4.png" />Toegankelijkheid</div>
            <div class="praticalinfo"><img src="/Images/Facilities icon 5.png" />Fiets huren</div>
            <div class="praticalinfo"><img src="/Images/Facilities icon 6.png" />Gevonden voorwerpen</div>
        </div>
        <div class="col-md-8">
            <img src="/Images/Praktisch5.png" />
            <div class="praticalinfo">
                Ons park is goed toegankelijk voor rolstoelen en scootmobiels en is ruim voorzien van aangepaste toiletten.
                <i class="fas fa-arrow-right text-success"></i>
            </div>
        </div>
    </div>
</div>
<div class="container bg2 py-4">
    <div class="card">
        <img class="card-img-top" src="~/Images/Praktisch6.png" alt="Card image cap">
        <div class="card-body">
            <a class="text-dark text-decoration-none" href="#">
                <div class="row">
                    <div class="col-md-11">
                        <h5 class="card-title">Groepen</h5>
                    </div>
                    <div class="col-md-1 text-lg-right">
                        <i class="fas fa-arrow-right text-success"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
