@{
    ViewBag.Title = "Keukenhof";

}

<div class="container">
    <div class="row">
        <div class="col-md-12" id="homejumbo">
            <div class="jumbotron-bottom">
                <h1>Het mooiste lentepark ter wereld</h1>
                <div class="row">
                    <div class="col-md-3 rounded-left" style="background-color: white">
                        <a asp-area="asp-controller="HetPark" asp-action="Index"  class="text-dark text-decoration-none">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4><b>Open 21 Maart - 10 Mei</b></h4>
                                    <small>Ontdek het park
                                    </small>
                                </div>
                                <div class="col-md-2 text-lg-right">
                                    <i class="fas fa-arrow-right text-success"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3" style="background-color: orange">
                        <div class="row">
                            <div class="col-md-10">
                                <h4><b>Kom vandaag nog langs</b></h4>
                                <small><a href="#" class="text-dark text-decoration-none">Bekijk park</a></small>
                            </div>
                            <div class="col-md-2 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rounded-right" style="background-color: white">
                        <div class="row">
                            <div class="col-md-10">
                                <h4><b>Wat is Keukenhof</b></h4>
                                <small><a href="#" class="text-dark text-decoration-none">Bekijk video</a></small>
                            </div>
                            <div class="col-md-2 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" id="wheretosearch">
        <div class="col-md-12">
            <h3>Waar bent u op naar zoek?</h3>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Bereikbaarheid.png" class="card-img-top" alt="Bereikbaarheid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Bereikbaarheid.</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Evenementen.png" class="card-img-top" alt="Evenementen">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Evenementen.</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Faciliteiten.png" class="card-img-top" alt="Faciliteiten">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Faciliteiten.</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/Bloemenshows.png" class="card-img-top" alt="Bloemenshows">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Bloemenshows.</h5>
                        </div>
                        <div class="col-md-2 text-lg-right">
                            <i class="fas fa-arrow-right text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" style="background-color: #E1EBE9">
        <div class="col-md-12">
            <h2>Praktische informatie.</h2>
            <div>
                <p class="float-left">Download de kaart of krijg er een bij de informatiebalie</p>
                <p class="float-right">Meer praktische informatie.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/Images/PLATTEGROND Keukenhof 2019.png" />
        </div>
        <div class="col-md-6">
            <div class="praticalinfo">Openingstijden</div>
            <div class="praticalinfo">Faciliteiten</div>
            <div class="praticalinfo">Parkeren en openbare vervoer</div>
            <div class="praticalinfo">Groepen</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" style="background-color: #FBDFD3;">
        <div class="col-md-12">
            <h2>Nieuws</h2>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/bloembol2020.png" class="card-img-top" alt="Bereikbaarheid">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">7 OKT 2019</h6>
                    <h5 class="card-title">De bloembollen voor 2020 worden weer geplant</h5>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="/Images/bloembolmarkt.png" class="card-img-top" alt="Bereikbaarheid">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">5 OKT 2019</h6>
                    <h5 class="card-title">De bloembollenmarkt was weer een groot succes</h5>
                    <a href="#" class="card-link">Card link</a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/thema.png" class="card-img-top" alt="Bereikbaarheid">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">2 AUG 2019</h6>
                    <h5 class="card-title">Wat zal het thema voor volgend jaar Keukenhof worden? </h5>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/Images/bloembol2020.png" class="card-img-top" alt="Bereikbaarheid">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">7 OKT 2019</h6>
                    <h5 class="card-title">De bloembollen voor 2020 worden weer geplant</h5>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding" style="background-color: #E1EBE9;">
        <div class="col-md-12">
            <div class="card">
                <a href="#" class="card-link text-dark text-decoration-none">
                    <img src="/Images/Groepen.png" class="card-img-top" alt="Bereikbaarheid">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <h4><b class="card-title">Groepen</b></h4>
                            </div>
                            <div class="col-md-1 text-lg-right">
                                <i class="fas fa-arrow-right text-success"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>