@{
    ViewBag.Title = "Keukenhof";
    
}

<div class="jumbotron" id="homejumbo">
    <div class="jumbotron-bottom">
        <h1>Het mooiste lentepark ter wereld</h1>
        <div class="row">
            <div class="col-md-3" style="background-color: white">
                Open 21 Maart - 10 Mei
                <br />
                <br />
                <small><a href="#">Ontdek het park</a></small>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-md-3" style="background-color: orange">
                Kom vandaag nog langs
                <br />
                <br />
                <small><a href="#">Bekijk park</a></small>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-md-3" style="background-color: white">
                Wat is Keukenhof
                <br />
                <br />
                <small><a href="#">Bekijk park</a></small>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
        </div>
    </div>
</div>

<div class="row" id="wheretosearch">
    <div class="col-md-12">
        <h3>Waar bent u op naar zoek?</h3>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Bereikbaarheid</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Evenementen</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Faciliteiten</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Bloemenshows</a>
            </div>
        </div>
    </div>
</div>
