@{
    ViewBag.Title = "Keukenhof";
    
}

<div class="jumbotron" id="homejumbo">
    <div class="jumbotron-bottom">
        <h1>Het mooiste lentepark ter wereld</h1>
        <div class="row">
            <div class="col-md-3" style="background-color: white">
                Open 21 Maart - 10 Mei
                <br />
                <br />
                <small><a href="#">Ontdek het park</a></small>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-md-3" style="background-color: orange">
                Kom vandaag nog langs
                <br />
                <br />
                <small><a href="#">Bekijk park</a></small>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-md-3" style="background-color: white">
                Wat is Keukenhof
                <br />
                <br />
                <small><a href="#">Bekijk park</a></small>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
        </div>
    </div>
</div>

<div class="row" id="wheretosearch">
    <div class="col-md-12">
        <h3>Waar bent u op naar zoek?</h3>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="/Images/Bereikbaarheid.png" class="card-img-top" alt="Bereikbaarheid">
            <div class="card-body">
                <p class="card-text">Bereikbaarheid.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="/Images/Evenementen.png" class="card-img-top" alt="Evenementen">
            <div class="card-body">
                <p class="card-text">Evenementen.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="/Images/Faciliteiten.png" class="card-img-top" alt="Faciliteiten">
            <div class="card-body">
                <p class="card-text">Faciliteiten.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="/Images/Bloemenshows.png" class="card-img-top" alt="Bloemenshows">
            <div class="card-body">
                <p class="card-text">Bloemenshows.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: #E1EBE9">
    <div class="col-md-12">
        <h2>Praktische informatie.</h2>
    </div>
    <div class="col-md-6">
        <img src="/Images/PLATTEGROND Keukenhof 2019.png"/>
    </div>
    <div class="col-md-6">
        <div style="border-radius: 3px; background-color: white">Openingstijden</div>
        <div style="border-radius: 3px; background-color: white">Faciliteiten</div>
        <div style="border-radius: 3px; background-color: white">Parkeren en openbare vervoer</div>
        <div style="border-radius: 3px; background-color: white">Groepen</div>
    </div>
</div>